html {
  background-image: url(ttt3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
 background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
}
.topline {
  position: fixed;
  background: rgba(2,32,39,0.8);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  width: 99%;
  margin-left: -0.5%;
  padding: 0.5%;
  z-index: 1;
}



.container{

  position: absolute;
  /*top:98%;*/
  /*width: 99%;*/

  background: rgba(2,32,39,0.8);
  /*margin:auto 0;*/  margin: 45% 5% 5% 5%;  /*размер блока на странице*/
  font-size: 35px;  
  color:white;
  border-radius: 5px;
  border-color:#ffffff;
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 20px #0000ff, 0 0 40px #0000ff, 0 0 45px #0000ff, 0 0 50px #0000ff, 0 0 75px #0000ff;
}

     .OSTtext h3{  
      text-align: center;
    }
    .OSTtext p {
      text-align: left;
      padding: 2%;

    }

    .sp1{
  z-index: 1; /*картинка на задний фон */
}

.fonk{
  position: absolute;
  top: -1%;
  left: 4%;
  height: 9%;
  width: 90%;
  z-index: -1;
}

/*вариант Игоря*/
    
     /* .cont div img {
   width: 20%;
   height: 15%;
   object-fit: cover;  /*благодаря ей работает*/
  /* float:left;
   border: 2px solid;  /*убрать */
  /* margin: 0 0 0 5% ;  /**/
  /* }
   @media all and (min-width: 320px) {
   .cont div img {
   padding-bottom: auto;   /*отступ у каждой картинки везде*/
  /* } */  
   /* }*/

  
 /*----------------------------------------------------------------------------------------------------------------------------*/
.gallery {  /*настройки самого контейнера */
  width: 100%; /*ширина*/
  margin: auto;  /*настройки отступов (сверху 30пик, остальное авто по середине что бы выравнивалось)*/
  
}

.gallery .col {  /*настройки списка и пунктов*/
  float: left;/*равнение по левому краю*/ /*нужно*/
  font: 10px/1.5 Verdana, Helvetica, Sans-serif;/*настройка текста (размер шрифта, ширина строк, сам шрифт)*/
  width: 21%; /*ширина стобца*/ /*вся адаптивная вёрстка должна быть написана в %*/ /*было 16пик, но мне столько столбцов не надо*/
    /*для галлереии требуется рассчитать сколько % требуется на каждый столбец*/
    /*для этого существует формула 
    100%-общая ширина, знаем что будет 5 столбцов, в каждом по отступу (слева и справа (2%) в формуле 4 так как с двух сторон)
    100%-(5*4%)=80%
    80% делим на 5 столбцов
    80%/5=16%*/       
  margin: 2% 2% 30px 2%; /*отступы сверху, справа, снизу, слева */
}
.gallery a {  /*убрали цвет ссылки*/
  color: grey;  /*цвет ссылок*/
}

.gallery img {  /*ДЕЛАЕМ ИЗОБРАЖЕНИЕ АДАПТИВНЫМ*/
  max-width: 100%;  /*максимальная ширина (относительно родителя .col в данном случае, ширина стобца 16%)*/
}

/* Media Queries */
 
@media only screen and (min-width : 941px) {  /* без этого куска будет разрыв*/
.gallery .col:nth-child(4n+1){
clear:left;
}
 
}
 
@media only screen and (min-width: 721px ) and (max-width : 941px) {
 
.gallery .col {
width: 21%;
}
 
.gallery .col:nth-child(4n+1){
clear:left;
}
 
}
 
/* 100% - (3 * 4%) = 88% */
/* 88%/3 = 29.33333% */
 
@media only screen and (min-width: 531px ) and (max-width : 721px) {
 
.gallery .col {
width: 29.33333%
}
 
.gallery .col:nth-child(3n+1){
clear:left;
}
 
}
 
/* 100% - (2 * 4%) = 92% */
/* 92%/2 = 46% */
 
@media only screen and (min-width: 320px ) and (max-width : 531px) {
 
.gallery .col {
width: 46%
}
 
.gallery .col:nth-child(2n+1){
clear:left;
}
 
}
 
/* 100% - 4% = 96% */
/* 96% */
 
@media only screen and (max-width : 320px) {
.gallery .col {
width: 96%
}
}

  /*-----------------------------------------------------------------------------------------------------------------------------*/

.videos {
  width:25%;
  height:auto; 
  position:absolute;
  top: 35%;
  left: 2%;
  z-index: 0;
  
 
  border-radius: 1px;
  border-color:#ffffff;
  box-shadow:0 0 5px #000305, 0 0 10px #000305, 0 0 20px #000305, 0 0 40px #022027, 0 0 80px #022027, 0 0 90px #022027, 0 0 100px #022027, 0 0 150px #022027;
  
}
.Shalakoblock
{
  border: 6px; 
  font-size: 27px; 
  position: absolute;
  top: 32%; 
  left: 75%; 
  height: 50%;
  width: 16%;
  overflow-y: scroll; 
  background: rgba(2,32,39,0.8);
  border-radius: 5px;
 border-color:#ffffff;
  box-shadow:0 0 5px #000305, 0 0 10px #000305, 0 0 20px #000305, 0 0 40px #022027, 0 0 80px #022027, 0 0 90px #022027, 0 0 100px #022027, 0 0 150px #022027;
  color: white;
  z-index: 0;

}



.ttt{display: inline-block;
height: auto;
border-radius: 20px;
}
@media all and (min-width: 320px) {
.ttt{
width:calc(100vw * 0.03); 
}
}
.title{
  color: #ffffff;
 text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #00ff00, 0 0 80px #00ff00, 0 0 90px #00ff00, 0 0 100px #00ff00, 0 0 150px #00ff00;
font-weight: bold;
 font-style: normal;
  font-size: 50px;
  letter-spacing: 2px;
}
@media all and (min-width: 320px) {
.title{
font-size: calc(100vw * 0.03);
}
}
.main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 2%;
}
.main li {display: inline-block;}
.main a {
  text-decoration: none;
  display: block;
  position: relative;
  margin-top:10%;
  
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #00ff00, 0 0 80px #00ff00, 0 0 90px #00ff00, 0 0 100px #00ff00, 0 0 150px #00ff00;
  }
@media all and (min-width: 320px) {
.main a{
font-size: calc(100vw * 0.0125);
padding-left: calc(100vw * 0.0125);
}
}
.main a:hover {
  
  font-size: 150%;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffff00, 0 0 80px #ffff00, 0 0 90px #ffff00, 0 0 100px #ffff00, 0 0 150px #ffff00;
}


.footer {
  
  color: white;
  bottom: 0;
  z-index: 1;

}
