html {
  background-image: url(ttt3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
 background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
}
.topline {
  position: fixed;
  background: rgba(2,32,39,0.8);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  width: 99%;
  margin-left: -0.5%;
  padding: 0.5%;
  z-index: 1;
}



.container{

  position: absolute;
  /*top:98%;*/
  /*width: 99%;*/

  background: rgba(2,32,39,0.8);
  /*margin:auto 0;*/  margin: 10% 10% 5% 10%;  /*размер блока на странице*/
  font-size: 25px;  
  color:white;
  border-radius: 5px;
  border-color:#ffffff;
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 20px #0000ff, 0 0 40px #0000ff, 0 0 45px #0000ff, 0 0 50px #0000ff, 0 0 75px #0000ff;
}


      .OSTtext {
        padding: 0% 3% 5% 3%;
      }

     .OSTtext h3{  
      text-align: center;
    }
    .OSTtext p {
      text-align: left;
      

    }





.ttt{display: inline-block;
height: auto;
border-radius: 20px;
}
@media all and (min-width: 320px) {
.ttt{
width:calc(100vw * 0.03); 
}
}
.title{
  color: #ffffff;
 text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #00ff00, 0 0 80px #00ff00, 0 0 90px #00ff00, 0 0 100px #00ff00, 0 0 150px #00ff00;
font-weight: bold;
 font-style: normal;
  font-size: 50px;
  letter-spacing: 2px;
}
@media all and (min-width: 320px) {
.title{
font-size: calc(100vw * 0.03);
}
}
.main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 2%;
}
.main li {display: inline-block;}
.main a {
  text-decoration: none;
  display: block;
  position: relative;
  margin-top:10%;
  
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #00ff00, 0 0 80px #00ff00, 0 0 90px #00ff00, 0 0 100px #00ff00, 0 0 150px #00ff00;
  }
@media all and (min-width: 320px) {
.main a{
font-size: calc(100vw * 0.0125);
padding-left: calc(100vw * 0.0125);
}
}
.main a:hover {
  
  font-size: 150%;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffff00, 0 0 80px #ffff00, 0 0 90px #ffff00, 0 0 100px #ffff00, 0 0 150px #ffff00;
}
