html {
  background-image: url(upgradeGaraj.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body
{

}

.back{
	position: fixed;
	top: 20%;
	left: 2%;
	height: 5%;
	width: 2.5%;
	z-index: 0;
}


.LGo{
	position: fixed;
	top: 4%;
	left: 2%;
  	height: 15%;
	width: 21%;
	z-index: 0;	
}



.photo1{
	position: fixed;
	top:20%;
	left: 20%;
	height: 70%;
	width: 60%;
}

#slider { /*положение слайдера*/
    position: fixed;
	top: 30%;
	left: 7%;
	height: 20%;
	width: 19%;
	text-align: center;
    
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 70%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	position: fixed;
	max-height: 30%;
	max-width: 15%; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -32%; /*сдвиг влево*/
	display: block;
	top: 95%;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 20%;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}





#sliderr { /*положение слайдера*/
    position: fixed;
	top: 60%;
	left: 70%;
	height: 20%;
	width: 19%;
	text-align: center;   
}

#sliderr{ /*центровка слайдера*/
	margin: 0 auto;
}

#slidess article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slidess .imagee{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overfloww{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 70%;
}

#desktop:checked ~ #sliderr{ /*размер всего слайдера*/
	position: fixed;
	max-height: 30%;
	max-width: 15%; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch11:checked ~ #controlss label:nth-child(5), 
#switch22:checked ~ #controlss label:nth-child(1),
#switch33:checked ~ #controlss label:nth-child(2),
#switch44:checked ~ #controlss label:nth-child(3),
#switch55:checked ~ #controlss label:nth-child(4){
	background: url('prevv.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -32%; /*сдвиг влево*/
	display: block;
	top: 95%;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch11:checked ~ #controlss label:nth-child(2), 
#switch22:checked ~ #controlss label:nth-child(3),
#switch33:checked ~ #controlss label:nth-child(4),
#switch44:checked ~ #controlss label:nth-child(5),
#switch55:checked ~ #controlss label:nth-child(1){
	background: url('nextt.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.alll input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch11:checked ~ #slidess .imagee{
	margin-left: 0;
}

#switch22:checked ~ #slidess .imagee{
	margin-left: -100%;
}

#switch33:checked ~ #slidess .imagee{
	margin-left: -200%;
}

#switch44:checked ~ #slidess .imagee{
	margin-left: -300%;
}

#switch55:checked ~ #slidess .imagee{
	margin-left: -400%;
}

#controlss{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 20%;
}

#activee label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#activee{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#activee label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch11:checked ~ #activee label:nth-child(1),
#switch22:checked ~ #activee label:nth-child(2),
#switch33:checked ~ #activee label:nth-child(3),
#switch44:checked ~ #activee label:nth-child(4),
#switch55:checked ~ #activee label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slidess .imagee{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controlss label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controlss label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}


.container{
  position: absolute;
  top:96%;
  left: 0;
  width: 99%;
  background: #A19A9A;
  opacity: 100;
  margin:auto 10px;
  color: #302F2F;
  font-size:150%;
  color: white;
  border-radius: 10px;
  border-color:#ffffff;
  box-shadow: 
}